.container-about {
    margin: auto;
    max-width: 90%;
    height: 100vh;
    background-color: #1F1F1F;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #94A1B2;
    position: relative;
}

.box-about {
    width: 90%;
    background-size: 0px 0px 50px 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 40px;
} 

.box-about > h3 {
    margin: 20px;
    font-size: 1.5vw;
    text-align: justify;
} 

.foto_about {
    width: 25vw;
    border: 8px solid #161616;
}

@media screen and (max-width: 1000px) {
    .container-about {
        height: 90vh;
    }
}

@media screen and (max-width: 750px) {
    .container-about {
        height: 80vh;
    }
    .box-about {
        display: flex;
        flex-direction: column;
        justify-content: center;
    } 
    .foto_about {
        width: 40vw;
    }
    .box-about > h3 {
        margin: 20px;
        font-size: 2.5vw;
        text-align: justify;
    } 
}

@media screen and (max-width: 600px) {
    .container-about {
        max-width: 100%;
        height: 70vh;
    }
    .box-about {
        display: flex;
        flex-direction: column;
        justify-content: center;
    } 
    .foto_about {
        width: 50vw;
    }
    .box-about > h3 {
        margin: 20px;
        font-size: 3vw;
        text-align: justify;
    } 
}




