.container-button > input {
    padding: 1.8%;
    margin: 5px;
    width: 100px;
    height: 48px;
    background-color: #5527e0;
    border: 1px solid #5527e0;
    color: white;
    border-radius: 20px;
    font-size: 20px;
}

.container-button:hover > input {
    background-color: #7F5AF0;
}

@media screen and (max-width: 1000px) {
    .container-button > input {
        width: 75px;
        height: 36px;
        font-size: 16px;
    }
}

@media screen and (max-width: 750px) {
    .container-button > input {
        width: 85px;
        height: 36px;
        font-size: 16px;
    }
}

@media screen and (max-width: 600px) {
    .container-button > input {
        width: 80px;
        height: 34px;
        font-size: 16px;
    }
}

@media screen and (max-width: 450px) {
    .container-button > input {
        width: 70px;
        height: 25px;
        font-size: 14px;
    }
}

@media screen and (max-width: 350px) {
    .container-button > input {
        width: 54px;
        height: 25px;
        font-size: 11px;
    }
}