.container-email {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.container-email > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 5px;
}

.container-email > div > input {
    width: 850px;
    height: 40px;
    font-size: 25px;
    margin: 5px;
    border: 1px solid #2CB67D;
    background-color: #161616;
    color: white;
    padding-left: 15px;
}

input::placeholder {
    color: #5527e0;
}

.container-email > div > textarea {
    font-size: 25px;
    width: 850px;
    height: 260px;
    margin: 5px;
    border: 1px solid #2CB67D;
    background-color: #161616;
    color: white;
    padding-left: 15px;
}

textarea::placeholder {
    color: #5527e0;
}

.container-email > div > input.container-button {
    padding: 1.8%;
    margin: 5px;
    width: 100px;
    height: 55px;
    background-color: #5527e0;
    border: 1px solid #5527e0;
    color: white;
    border-radius: 20px;
    font-size: 20px;
}

.container-email > div > input.container-button:hover {
    background-color: #7F5AF0;
}

.valid-message {
    color: red;
    align-self: center;
    font-size: 1.5vw;
}

@media screen and (max-width: 1000px) {
    .container-email {
        width: 300px;
        height: 280px;
    }
    .container-email > div > input {
        width: 400px;
        height: 30px;
        font-size: 18px;
        margin: 5px;
    }    
    .container-email > div > textarea {
        width: 400px;
        height: 160px;
        font-size: 18px;
        margin: 5px;
    } 
    .container-email > div > input.container-button {
        width: 75px;
        height: 36px;
        font-size: 16px;
    }
    .valid-message {
        font-size: 2.9vw;
    }     
}

@media screen and (max-width: 750px) {
    .container-email {
        width: 300px;
        height: 280px;
    }
    .container-email > div > input {
        width: 350px;
        height: 30px;
        font-size: 18px;
        margin: 5px;
    }    
    .container-email > div > textarea {
        width: 350px;
        height: 140px;
        font-size: 18px;
        margin: 5px;
    } 
    .container-email > div > input.container-button {
        width: 85px;
        height: 36px;
        font-size: 16px;
    }   
    .valid-message {
        font-size: 2.8vw;
    }  
}

@media screen and (max-width: 600px) {
    .container-email {
        width: 300px;
        height: 280px;
    }
    .container-email > div > input {
        width: 300px;
        height: 30px;
        font-size: 15px;
        margin: 5px;
    }    
    .container-email > div > textarea {
        width: 300px;
        height: 140px;
        font-size: 15px;
        margin: 5px;
    }  
    .container-email > div > input.container-button {
        width: 80px;
        height: 34px;
        font-size: 16px;
    }
    .valid-message {
        font-size: 2.5vw;
    }  
}

@media screen and (max-width: 450px) {
    .container-email {
        width: 290px;
        height: 300px;
    }
    .container-email > div > input {
        width: 270px;
        height: 20px;
        font-size: 12px;
        margin: 5px;
    }    
    .container-email > div > textarea {
        width: 270px;
        height: 100px;
        font-size: 12px;
        margin: 5px;
    }  
    .container-email > div > input.container-button {
        width: 70px;
        height: 25px;
        font-size: 14px;
    }
    .valid-message {
        font-size: 3vw;
    }   
}

@media screen and (max-width: 350px) {
    .container-email > div > input.container-button {
        width: 54px;
        height: 25px;
        font-size: 11px;
    }
}

