* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    margin: auto;
    max-width: 90%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #161616;
}

.box-main {
    width: 70vw;
}

main > div.box-main {
    font-size: 2vw;
    font-family: sans-serif;
    color: white;
    text-align: center;
}

.box-main-button > a > button {
    margin-top: 60px;
    width: 10vw;
    padding: 8%;
    background-color: #5527e0;
    border: 1px solid #5527e0;
    color: white;
    border-radius: 20px;
    font-size: 1.4vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box-main-button > a > button > p{
    margin-left: 0.6vw;
}

.box-main-button > a > button:hover {
    background-color: #7F5AF0;
}

.home_title_color {
    color: #2CB67D;
}

.foto_home {
    width: 20%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}

@media screen and (max-width: 1200px) {
    main {
        height: 90vh;        
    }
}

@media screen and (max-width: 1000px) {
    main {
        height: 80vh;        
    }
}

@media screen and (max-width: 850px) {
    main {
        height: 70vh;        
    }
    .box-main {
        width: 90vw;
    }
    main > div.box-main {
        font-size: 2.6vw;
    }
    .box-main-button > a > button {   
        width: 16vw;       
        font-size: 1.7vw;       
    }
}

@media screen and (max-width: 600px) {
    main {
        max-width: 100%;
        height: 45vh;        
    }
    .box-main {
        width: 80vw;
    }
    main > div.box-main {
        font-size: 2.5vw;
    }
    .box-main-button > a > button {   
        width: 14vw;
        padding: 6%;   
        font-size: 1.7vw;       
    }
}

@media screen and (max-width: 450px) {
    main {
        max-width: 100%;
        height: 35vh;
    }
    .box-main {
        width: 80vw;
    }
    main > div.box-main {
        font-size: 2.6vw;
    }
    .box-main-button > a > button {   
        width: 12vw;   
        padding: 7%;   
        font-size: 1.6vw;       
    }
}

@media screen and (max-width: 330px) {
    main {
        max-width: 100%;
        height: 28vh;
    }    
}