.center {
    position: relative;
    transform: translate(0, 0);
}

.ring {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0 4px 0 white;
    background: transparent;
    animation: animate 1s linear infinite;
}

.text {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 250px;
    font-size: 2em;
    background: transparent;
    box-shadow: 0 0 5px rgba(0,0,0,.2)
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}